@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container__favoriteCards {
  margin: 10px;
  padding: 10px;
}

.container__favoriteCards a {
  text-decoration: none;
}

.container__favoriteCards h4 {
  color: black;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

.container__favoriteCards p {
  font-family: Roboto;
  font-size: 18px;
  font-style: italic;
}

.image-recipe {
  border-radius: 8px;
  height: 200px;
  margin-left: 10px;
  width: 300px;
}

.Favorite___card__name {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 600;
}

.share-btn {
  background-color:rgb(194, 166, 235);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  height: 40px;
  width: 40px;
}
 
.heart-btn {
  background-color:rgb(194, 166, 235);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  height: 40px;
  width: 40px;
}

.buttons {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  width: 300px;
}
