.Container {
  align-items: center;
  background: #fffafa;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  padding: 8px;
  position: fixed;
  width: 100%;
}

.input__Text {
  align-items: center;
  background:white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.Container__Input {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-around;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.button__search {
  background-color: rgb(102, 67, 138);
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 21px;
  height: 36px;
  width: 60%;
}
